In [1]:
import pandas as pd
import numpy as np
df = pd.read_excel("GSAF5.xls")
dfcopy = df.copy()
dfcopy.columns = dfcopy.columns.str.lower().str.replace(" ", "_")

In [2]:
dfcopy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6959 entries, 0 to 6958
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            6934 non-null   object
 1   year            6932 non-null   float64
 2   type            6916 non-null   object
 3   country         6884 non-null   object
 4   state           6452 non-null   object
 5   location        6370 non-null   object
 6   activity        6349 non-null   object
 7   name            6715 non-null   object
 8   sex             6355 non-null   object
 9   age             3944 non-null   object
 10  injury          6899 non-null   object
 11  unnamed:_11     6373 non-null   object
 12  time            3411 non-null   object
 13  species_        3804 non-null   object
 14  source          6915 non-null   object
 15  pdf             6799 non-null   object
 16  href_formula    6819 non-null   object
 17  href            6796 non-null   object
 18  case_number     6798 non-null   object
 19  case_number.1   6797 non-null   object
 20  original_order  6799 non-null   float64
 21  unnamed:_21     1 non-null      object
 22  unnamed:_22     2 non-null      object
dtypes: float64(2), object(21)
memory usage: 1.2+ MB

### ELIMINO COLUMNAS 21 Y 22 XQ ESTAN LLENAS DE NAN

In [3]:
dfcopy.drop("unnamed:_21", axis=1, inplace=True)
dfcopy.drop("unnamed:_22", axis=1, inplace=True)

In [4]:
dfcopy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6959 entries, 0 to 6958
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            6934 non-null   object
 1   year            6932 non-null   float64
 2   type            6916 non-null   object
 3   country         6884 non-null   object
 4   state           6452 non-null   object
 5   location        6370 non-null   object
 6   activity        6349 non-null   object
 7   name            6715 non-null   object
 8   sex             6355 non-null   object
 9   age             3944 non-null   object
 10  injury          6899 non-null   object
 11  unnamed:_11     6373 non-null   object
 12  time            3411 non-null   object
 13  species_        3804 non-null   object
 14  source          6915 non-null   object
 15  pdf             6799 non-null   object
 16  href_formula    6819 non-null   object
 17  href            6796 non-null   object
 18  case_number     6798 non-null   object
 19  case_number.1   6797 non-null   object
 20  original_order  6799 non-null   float64
dtypes: float64(2), object(19)
memory usage: 1.1+ MB

### CAMBIO "NAN" POR "0" Y EL TYPE DE "FLOAT" A "INT" EN YEAR

In [5]:
dfcopy["year"].fillna(0, inplace=True)

In [6]:
dfcopy['year'] = dfcopy['year'].astype(int)

### CAMBIO ?, NAN POR INVALID Y PASO A MINUSCULAS Y _ EN TYPE

In [7]:
dfcopy["type"] = dfcopy["type"].str.replace("?", "Invalid")

In [8]:
dfcopy["type"].fillna("invalid", inplace=True)

In [10]:
dfcopy['type'] = dfcopy['type'].str.lower().str.replace(" ", "_")

In [15]:
dfcopy["year"].fillna("invalid", inplace=True)

###

In [13]:
dfcopy['country'].fillna("no_country", inplace=True)

In [16]:
dfcopy['country'] = dfcopy['country'].str.lower().str.replace(" ", "_")

In [18]:
dfcopy['country'].value_counts()

country
usa                               2536
australia                         1478
south_africa                       598
new_zealand                        145
bahamas                            136
                                  ...
british_west_indies                  1
admiralty_islands                    1
federated_states_of_micronesia       1
red_sea                              1
ceylon_(sri_lanka)                   1
Name: count, Length: 218, dtype: int64